.wrapper {
  @apply relative cursor-pointer rounded-lg border border-transparent py-3 
  px-6 text-[16px] font-semibold shadow focus:outline-0;
}

.primary {
  @apply bg-primary
  hover:shadow hover:shadow-primary
  focus:border focus:border-white
  focus:shadow focus:shadow-secondary;
}

.secondary {
  @apply bg-secondary
  hover:shadow hover:shadow-secondary
  focus:border focus:border-primary
  focus:shadow focus:shadow-secondary;
}

.primary,
.secondary {
  @apply opacity-90 hover:opacity-100 active:opacity-100;
  transition: opacity 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}
