
.date {
    font-weight: 500;
}
.tempNow {
    font-weight: 600;

}
.condition {
    word-break: normal;
    white-space: normal;
    color: #939cb0;
    text-align: center;
    line-height: 1.1em;
}

.img {
    width: 100%;
}
@media (max-width: 1000px) {
    .block {
        min-width: 40px;
        max-width: 40px;
    }
    .date {
        font-size: 14px;
        text-align: center;
    }
    .tempNow {
        font-size: 12px;
        text-align: center;
    }
    .condition {
        display: none;
        visibility: hidden;
    }
}