.input {
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #4495d4;
}
.input:focus {
    outline: 1px solid #4495d4;
    box-shadow: 1px 1px 5px #4495d4;
}
.input::placeholder, .btn {
    color: #4495d4;
}
.form {
    display: flex;
    gap: 10px;
}
.btn {
    border: 1px solid #4495d4;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;

}