.input {
  border-radius: 5px 0px 0px 5px;
  border-color: transparent;
  background: #eceef2;
  min-height: 36px;
  min-width: 300px;
  margin: 0;
  padding: 5px 5px;
  font-size: 17px;
  color: #000;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: rgba(169, 174, 184, 0.7);
}
.form {
  display: flex;
}
.formBody {
  display: flex;
  margin: 10px 3px;
  justify-content: center;
}
.btn {
  border: none;
  background: #eceef2;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  position: relative;
  right: 2px;
  align-items: center;
  justify-content: center;
}
.search {
  opacity: 0.6;
  transition: opacity 0.3s ease-in;
}
.search:hover {
  opacity: 1;
}
@media (max-width: 360px) {
  .input {
    min-width: 200px;
  }
}
