.row {
  padding: 15px 10px;
  display: flex;
  max-width: fit-content;

  gap: 10px;
  overflow-x: auto;
  margin: 0 auto;
  background: white;
  border-radius: 12px;
}
.btn {
  background: transparent;
  border-radius: 5px;
  margin-bottom: 13px;
  cursor: pointer;
  border: 1px solid #4495d4;
  color: #4495d4;
}
